h1 {
    color: #993E2A;
    font-family: 'Times New Roman', Times, serif;
    font-size: 75px;
    
}

h2 {
    color: #993E2A;
    font-family: 'Times New Roman', Times, serif
}

li{
    color: #993E2A;
}

